/*HEADER*/
header{
    font-family: "poppins-medium";
    background: #151515;
}
/*DROPDOWN BUTTON*/

.menu {
    background-color:  #FF0077;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 15%;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF0077;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "poppins-medium";
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .menu {background-color: #3e8e41;}

  /* ABOUT ME*/ 

  #About-Me {
    background: #151515;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
  }
  
  
  .About-Me-Content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
 
  .About-Me-Content h1 {
    color: #FFFFFF;
    font-family: "sans-serif";
    font-size: 135px;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .About-Me-Content h5 {
    color: #cc005f;
    font-family: "sans-serif";
    font-size: 40px;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .About-Me-Content .About-Me-Position {
    font-family: "serif";
    font-size: 30px;
    line-height: 1.565;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .About-Me-Content .About-Me-Position span {
    display: inline-block;
  }

  .About-Me-Content .About-Me-Position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
  }

/* ABOUT SECTION*/
#about {
	background: #FFFFFF;
	padding-top: 12rem;
	padding-bottom: 15rem;
}
#about .section-intro {
	margin-bottom: 3rem;
}

.intro-info {
	margin:120px;
}
.intro-info img {
	height: 150px;
	width: 250px;
	border-radius: 15%;
	margin: 15px 15px 0 0;
	float: left;
}
.intro-info p {
	text-align: center;
	padding-left: 13rem;
    font-size: 20px;
}

.section-intro h1{
    color: #cc005f;
    font-family: "sans-serif";
    font-size: 40px;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/*My Work*/

.subHeading {
    text-align: center;
    border-bottom: 20px;
    width: 300px;
    margin: 50px auto;
    color: #cc005f;
    font-size: 40px;
  }
  
  #workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "ph1 ph1"
    "ph2 Hori"
    ;
  }
  
  #placeholder1 {
    grid-area: ph1;
    background-image: url("../images/02-run-buddy.jpg");
  
  }
  #placeholder2 {
    grid-area: ph2;
    background-image: url("../images/02-portfolio-2.jpg");
  }
  
  #Horiseon {
    grid-area: Hori;
    background-image: url("../images/Screenshot\ 2022-12-03\ at\ 19.45.53.png");
  }

  #Horiseon a{
    text-decoration: none;
  }
  
  
  .workGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #cc005f;
  }